* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --cl1: rgb(255, 245, 238);
  --cl2: rgb(255, 118, 101);
  --cl3: rgb(134, 44, 39);
  --bgsize: 500px;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: var(--cl3);
  background: var(--cl1)
}

/* Header */
header {
  padding: 15px 35px;
  background-image: url("../images/science.png");
  background-size: var(--bgsize);
  background-attachment: fixed;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header h1 {
  font-size: 36px;
  font-weight: bold;
  color: var(--cl1);
  text-shadow: 0px 0px 10px rgb(10, 1, 14);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  height: 100%;
}

header nav ul li a {
  padding: 5px 20px;
  font-weight: normal;
  line-height: 1.5;
  font-size: 22px;
  text-shadow: 0px 0px 10px rgb(10, 1, 14);
  color: var(--cl1);
}

header nav ul li a:hover {
  background-color: var(--cl1);
  color:var(--cl2);
  border-radius: 15px;
  text-shadow: none;
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

/* Hero */
.hero {
  background-attachment: fixed;
  background-image: url("../images/science.png");
  background-size: var(--bgsize);
  background-attachment: fixed;
  height: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.hero h2 {
  margin: 0 55px 15px 0;
  color: var(--cl1);
  text-shadow: 0px 0px 10px rgb(10, 1, 14);
}

/* All Sections */
section {
  width: 95%;
  max-width: 1300px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 130px 1fr;
}

.section-tittle {
  padding-right: 7px;
  border-right: 2px solid var(--cl2);
  left: 0;
}

.section-content {
  padding-left: 20px;
  padding-right: 50px;
}

.section-tittle h2 {
  font-size: 26px;
  text-align: right;
  text-shadow: 0 0 1px var(--cl2);
}

/* About Section */
#about .section-content {
  display: flex;
  align-items: flex-start;
}

.about-image {
  width: 47.5%;
  margin-right: 5%;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

#about p {
  width: 47.5%;
  line-height: 1.75;
  text-align: justify;
}

/* Work Section */
.work-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
}

.work-item {
  border-radius: 15px;  
  width: 100%;
  min-height: 200px;
  background-size: cover;
  padding: 0 0 35px 0;
  display: flex;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}

.work-item::after {
  content: "";
  background: linear-gradient( rgba(255, 245, 238, .3),rgba(255, 118, 101, .3));
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s;
}

.work-item:hover::after {
  opacity: 1;
}

.work-item-title {
  background-color: var(--cl3);
  padding: 10px;
  border-radius: 0 15px 15px 0;
  transition: .3s;
  position: relative;
  left: -400px;
}

.work-item-title h3 {
  font-size: 12px;
  color: var(--cl1);
  font-weight: lighter;
}

.work-item:hover .work-item-title {
  left: 0;
}

#work-item-1 h3 {
  font-size: 16px;
}

#work-item-1 {
  background-image: url(../images/run-buddy-sc.png);
  grid-row: 1 / 3;
  grid-column: 1/ 3;
}

#work-item-2 {
  background-image: url(../images/warm-leche.png);
  background-size: cover;
  background-position: 30%;
}

#work-item-3 {
  background-image: url(../images/george-score.png);
}

#work-item-4 {
  background-color: black;
}

#work-item-5 {
  background-color: grey;
}

#work-item-6 {
  background-color: white;
}

/* Contact Section */

.contact-links ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  height: 100%;
}

.contact-links ul li a {
  padding: 5px 20px;
  font-weight: normal;
  line-height: 1.5;
  font-size: 18px;
  color: var(--cl2);
  text-decoration: none;
}

.contact-links ul li a:hover {
  background-color: var(--cl3);
  color:var(--cl1);
  border-radius: 15px;
}

/* MEDIA QUERIES BEGIN*/
/* Fix about section as it shrinks */

@media screen and (max-width: 1130px) {
  #about p {
    line-height: 1.2;
  }
}

/* MEDIA QUERIES 980px*/
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width:95%;
    text-align: center;
  }

  header nav ul {
    margin-top: 5px;
    width: 100%;
    justify-content: center;
  }

  section {
    width: 100%;
    grid-template-columns: 92px 1fr;
    margin-right: 5px;
  }

  .section-tittle {
    padding-right: 5px;
    padding-left: 0;
    margin-left: 5px;
  }

  .section-content {
    padding-left: 10px;
    padding-right: 10px;
  }

  .section-tittle h2 {
    font-size: 18px;
  }

  #about .section-content {
    display: block;
  }

  .about-image {
    display: inline;
    float: left;
    min-width: 200px;
    max-width: 50%;
    margin-right: 10px;
  }

  #about p {
    width: auto;
    margin: 0 10px auto;
  }

  .contact-links ul li a {
    font-size: 14px;
  }
}

/* MEDIA QUERY FOR 830px */
@media screen and (max-width: 830px) {

  section {
    display: block;
  }
  
  .section-tittle {
    margin: 25px auto;
    width: 75%;
    border-right: none;
    font-size: 22px;
    border-bottom: 2px solid var(--cl3);
  }

  .section-tittle h2 {
    text-align: center;
    padding-bottom: 8px;
  }

  .hero {
    height: 100px;
  }


  #about .section-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: none;
    padding: none;
  }
  .about-image {
    max-width: 420px;
    min-width: 80%;
    width:80%;
    padding: 0;
    margin-right: 0;
  }

  #about img {
    width: 100%;
  }
  
  #about p {
    padding-top: 20px;
    text-align: justify;
    max-width: 420px;
    min-width: 80%;
    width:80%;
  }
}

/* MEDIA QUERY FOR 540px */
@media screen and (max-width: 540px) {

  .hero {
    justify-content: center;
  }

  .hero h2 {
    margin: 0 0 15px 0;   
  }

  .section-tittle h2 {
    font-size: 24px;
  }

  .about-image {
    min-width: 100%;
    width:100%;
  }

  
  #about p {
    min-width: 100%;
    width:100%;
  }

  .work-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 300px);
  }

  .work-item {
    padding-bottom: 0;
  }

  #work-item-1 {
    grid-row: 1 / 3;
    grid-column: 1/ 2;
  }

  .work-item-title {
    opacity: 1;
    left: 0;
    width: 100%;
    height: 65px;
    border-radius: 0 0 15px 15px;
  }

  .work-item-title h3 {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
  }

  .work-item::after {
    display: none;
  }
}

